@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --white: #E0E0E0;
    --gray: #EFEFEF;
    --black: #121212;
    --black-dark: #1C1C1C;
}

html, body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}